version: '3.7'

services:
  home:
    image: cupcakearmy/static
    restart: always
    ports:
      - 3000:80
    volumes:
      - ./nginx.conf:/usr/local/nginx/conf/sites/default.conf:ro
      - ./public:/srv:ro