version: '3'

services:
  home:
    image: nginx:alpine
    restart: always
    ports:
      - 80
    volumes:
      - ./public:/usr/share/nginx/html:ro
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    networks:
      - traefik
    labels:
      - traefik.enable=true
      - traefik.port=80
      - traefik.docker.network=traefik
      - traefik.backend=home
      - traefik.frontend.rule=Host:nicco.io

networks:
  traefik:
    external: true