version: '3.7'

services:
  home:
    image: cupcakearmy/static
    restart: always
    ports:
      - 80
    volumes:
      - ./nginx.conf:/usr/local/nginx/conf/sites/default.conf:ro
      - ./dist:/srv:ro
    networks:
      - traefik
    labels:
      - traefik.enable=true
      - traefik.port=80
      - traefik.docker.network=traefik
      - traefik.backend=home
      - traefik.frontend.rule=Host:nicco.io

networks:
  traefik:
    external: true