is-phone()
	@media (max-width: 599px)
		{block}

is-tablet()
	@media (min-width: 600px) {
		block
	}

is-netbook()
	@media (min-width: 900px)
		{block}

is-laptop()
	@media (min-width: 1200px)
		{block}

is-desktop()
	@media (min-width: 1800px)
		{block}